body {
    background-color: rgb(210, 228, 255);
}

body {
    font-family: Avenir, sans-serif;
}

.nav-bar {
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: 8vh;
    background-color: rgb(88, 8, 144);
    border: 1px solid white;

}

.info {
    width: 50%;
    margin: auto;
    text-align: center;
}

.nav-bar a {
    font-size: 2.5vh;
    padding-top: 2vh;
    color: white;
    text-decoration: none;
    background-color: transparent;
}


#links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.content a {
    background-color: transparent;
    text-decoration: none;
    color: navy;
    font-weight: 900;
    
}



.projects {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

#projectimg {
    margin-left: -8px;
    margin-top: -5px;
    height: 25vh;
    width: 40vh;
    border: 1px solid black;
}

button {
    height: 20vh;
    width: 35vh;
    margin-top: 20px;
}

.biography {
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}

.biography > * {
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

.biography p {
    font-size: 18px;
    width: 78%;
}

#myPicture {
    width: 235px;
    display: flex;
    justify-content: center;
}

iframe {
    display: block;
    margin: auto;
}

.project {
    width: 90%;
    margin-left: 5vh;
}
